{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <div class="container">

        <h1>Create new Member</h1>

        {{ include('member/_form.html.twig') }}

        <a class="btn btn-secondary float-right" href="{{ path('app_member_index') }}">Annuler</a>
    </div>
{% endblock %}
