{% extends 'base.html.twig' %}


{% block title %}Créer un nouveau concert{% endblock %}

{% block body %}
    <div class="container">
        <p>Vous avez réussit l'action précédente</p>
        <a href="{{ path('concert_list') }}">Retour à la liste des concerts ></a>
    </div>
{% endblock %}